<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character_info.name %>
</p>

<p>
  <strong>Shsl:</strong>
  <%= @character_info.shsl %>
</p>

<p>
  <strong>Height:</strong>
  <%= @character_info.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @character_info.weight %>
</p>

<p>
  <strong>Chest:</strong>
  <%= @character_info.chest %>
</p>

<p>
  <strong>Bloodtype:</strong>
  <%= @character_info.bloodtype %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @character_info.birthday %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @character_info.likes %>
</p>

<p>
  <strong>Dislike:</strong>
  <%= @character_info.dislike %>
</p>

<p>
  <strong>Eyecolor:</strong>
  <%= @character_info.eyecolor %>
</p>

<p>
  <strong>Haircolor:</strong>
  <%= @character_info.haircolor %>
</p>

<p>
  <strong>Associates:</strong>
  <%= @character_info.associates %>
</p>

<p>
  <strong>Nicknames:</strong>
  <%= @character_info.nicknames %>
</p>

<%= link_to 'Edit', edit_character_info_path(@character_info) %> |
<%= link_to 'Back', character_infos_path %>
